body {
  background: #fdffcd;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 40px;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  color: #ff9a3c;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  transition: all 200ms ease-in-out;
  color: black;
}

.link {
  text-align: center;
}
